@model WebButik.Models.Product

<h2>Customer View</h2>
<table class="table">

    <tr class="row">
        <th class="col-md-4">
            @Html.DisplayName(" Product Name")
        </th>
        <th class="col-md-4">
            @Html.DisplayName("Details")
        </th>
        <th class="col-md-4">
            @Html.DisplayName("Add to Cart ")
        </th>

    </tr>

</table>